@tailwind base;
@tailwind components;
@tailwind utilities;

/* STYLE SCROLLBAR */
::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: #a9a9a9;
  border-radius: 100vw;
  margin-block: 15.5em;
  margin-left: 10em;
}

::-webkit-scrollbar-thumb {
  background: #5d6d7e;
  border: 0.25em solid #2980b9;
  /* height: 1em!important; */
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 10% / 1);
  border-radius: 100vw;
}


















.main {
  background: #000;
  color: #FFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  gap: 40px;
}

.wrapper {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.eye {
  position: absolute;
  height: 100%;
  width: 100%;
}

.copy {
  position: relative;
  font-size: 20px;
  width: 20%;
  z-index: 1;
}







